html
{ width: 100%; height: 100%; background-size: cover;background-color:#fff; }
body
{ margin: 0; width: 100%; height: 90%;-webkit-user-select: none}

.poprzednia, .nastepna{
width:25px;
height: 25px;
display: inline-block;
background: url("../img/poprzednia-nastepna.png") no-repeat scroll 0 0 transparent;
}
.poprzednia a, .nastepna a{
	display: inline-block;
    height: 21px;
    width: 21px;
	cursor:pointer;
}
.nastepna{
background-position: 0px -25px;
}
